.popular {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;

  .popular__center {
    width: 87%;
    height: 224px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-top: 20px;

    .popular__center__top {
      width: 100%;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      font-family: var(--font-family);
      font-size: 21px;
    }
    .popular__center__bottom {
      width: 100%;
      height: 120px;
      .mypopular {
        width: inherit;
        height: inherit;
        margin-top: 14px;
        background-color: #d3d3d355;

        .popular__center__bottom__items {
          & img {
            width: 110px;
            height: 110px;
          }
          .slide__4 {
            width: 110px;
            height: 50px;
          }
          .slide__8 {
            width: 110px;
            height: 75px;
          }
          .slide__9 {
            width: 110px;
            height: 30px;
          }
        }
      }
    }
  }
}
