.markets {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  .markets__center {
    width: 87%;
    height: 110px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 15px;
    background-image: url(../../images/svg/background-markets.svg);
    background-position: left center;
    background-repeat: no-repeat !important;
    background-color: #edefed;

    .markets__right {
      height: inherit;
      width: 45%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-right: 45px;
      column-gap: 20px;
      & img {
        width: 66px;
        height: 62px;
      }
      .text {
        background-color: #39ae00;
        width: 112px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        color: whitesmoke;
        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 700;
      }
    }
    .markets__left {
      height: inherit;
      width: 55%;
      display: flex;
      flex-flow: row wrap;
      column-gap: 8px;
      align-items: center;
      justify-content: flex-end;
      padding-left: 40px;

      & a {
        all: unset;
        position: relative;
        .img__markets {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 58px;
            height: 58px;
            border-radius: 50%;
          }
        }
        & span {
          display: inline-block;
          width: 34px;
          height: 20px;
          background-color: #d32f2f;
          font-family: var(--font-family-number);
          font-weight: 600;
          font-size: 14px;
          color: whitesmoke;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 15px;
        }
      }
      .text {
        width: 145px;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        border-radius: 25px;
        color: #39ae00;
        font-family: var(--font-family);
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
