.slider__2 {
  width: 100%;
  height: 400px;
  background-color: #2b2b2b;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__2__items {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgrey !important;
}
.swiper-1-button {
  opacity: 0;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 10px;
  color: #000000dd;
  font-weight: bolder;
}
.myslider__2:hover .swiper-1-button {
  opacity: 1;
  position: absolute;
  top: 85%;
}
.myslider__2:hover .swiper-button-next {
  left: 91%;
}

.myslider__2:hover .swiper-button-prev {
  right: 3%;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  margin-left: 2px !important;
  transition: 200ms;
}
.swiper-pagination-bullet-active {
  background-color: white;
  width: 16px !important;
  height: 6px !important;
  border-radius: 5px;
}
